
table {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
}

td {
    border: 1px solid black;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
}

